<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock title %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>

  <body>
    <header class="flex justify-between px-5 pb-2 pt-2 bg-[#34A5BE]">
      <a href="{% url 'index' %}" class="font-bold text-2xl hover:text-white"
        >The Code
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-6 h-6 inline-block text-white text-center"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="m6.75 7.5 3 2.25-3 2.25m4.5 0h3m-9 8.25h13.5A2.25 2.25 0 0 0 21 18V6a2.25 2.25 0 0 0-2.25-2.25H5.25A2.25 2.25 0 0 0 3 6v12a2.25 2.25 0 0 0 2.25 2.25Z"
          />
        </svg>
      </a>
      {% if request.user.is_authenticated %}
      <div class="flex gap-4 items-center">
        <div
          class="rounded-full h-8 w-8 text-xl font-bold text-center text-white bg-sky-950"
        >
          <a href="{% url 'add-post' %}">+</a>
        </div>
        <a href="{% url 'dashboard:index' %}" class="bg-white rounded py-2 px-2 font-bold hover:bg-slate-200">dashboard</a>
        <form action="{% url 'logout' %}" method="post">
          {% csrf_token %}
          <button
            class="bg-white rounded py-2 px-2 font-bold hover:bg-slate-200"
          >
            Đăng Xuất
          </button>
        </form>
      </div>
      {% else %}
      <a
        href="{% url  'login' %}"
        class="bg-white rounded py-2 px-2 font-bold hover:bg-slate-200"
        >Đăng Nhập</a
      >
      {% endif %}
    </header>

    {% block content %} {% endblock content %}

    <footer class="bg-gray-800 text-white py-4">
      <div class="container mx-auto text-center">
        <p>&copy; 2023 My Website. All rights reserved.</p>
      </div>
    </footer>
  </body>
</html>
